/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/*-webkit-scrollbar-thumb {*/
/*  background: #000;*/
/*}*/
::-webkit-scrollbar {
  height: 5px;
  /* width of the entire scrollbar */
}
/*-webkit-scrollbar-thumb {*/
/*  background: #000;*/
/*}*/


::-webkit-scrollbar-thumb {
  background-color: #1a1a1a33; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
