<!-- md:max-w-[70%] lg:max-w-[64%] flex-wrap md:min-w-[70%] lg:min-w-[64%]  -->
<div class="flex items-center">
  <div class="">
    <button
      *ngIf="currentIndex != 0"
      (click)="slideCarousel(-1)"
      class="border-1 border-gray-400 bg-white p-2 rounded-full absolute z-1"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
        />
      </svg>
    </button>
  </div>
  <div class="md:flex overflow-hidden">
    <div class="transition delay-150 duration-300 ease-in-out flex">
      <!-- give multiple of 18 (18x) as index multiple according to card size and padding -->
      <div
        class="carousel-card"
        *ngFor="let prod of furnitureProducts"
        [style.transform]="'translateX(' + -currentIndex * 36 + 'vw)'"
      >
        <!--medium and large screen -->
        <div class="hidden md:inline-block">
          <div
            class="border border-gray md:mx-3 md:my-1 lg:mx-5 lg:my-2 card shadow-md rounded-md"
          >
            <div class="m-3 space-y-2">
              <div class="flex items-center justify-center">
                <img
                  src="{{ prod.ImageUrl }}"
                  alt=""
                  class="rounded-lg w-35 h-40"
                />
              </div>
              <div class="text-xs text-gray-500 mt-0">
                {{ prod.CampaignName.split(" ")[0] }}
              </div>
              <div class="line-clamp-2 text-sm font-semibold">
                {{ prod.Name }}
              </div>
              <div class="flex flex-wrap justify-between items-center">
                <div class="flex items-center space-x-2">
                  <div class="text-green-500 text-xs lg:text-sm font-semibold">
                    ${{ prod.CurrentPrice }}
                  </div>

                  <div
                    *ngIf="prod.OriginalPrice != ''"
                    class="text-xs lg:text-sm line-through text-gray-600"
                  >
                    ${{ prod.OriginalPrice }}
                  </div>
                </div>
                <div
                  (click)="addcId(prod.CatalogItemId)"
                  class="text-white text-xs bg-blue-900 px-2 py-1 rounded-sm hover:bg-blue-950 cursor-pointer"
                >
                  View deals
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- small screen -->
        <!-- <div class="md:hidden">
          <div
            class="border border-gray my-1 mx-1 mobileCard shadow-sm rounded-md"
          >
            <div class="flex items-center">
              <div class="p-0.5">
                <img
                  src="{{ prod.ImageUrl }}"
                  alt=""
                  class="w-14 h-14 rounded-md"
                />
              </div>

              <div class="p-0.5 flex-1">
                <div class="mobileCard_text text-gray-500">
                  {{ prod.CampaignName.split(" ")[0] }}
                </div>
                <div class="line-clamp-2 mobileCard_text font-semibold">
                  {{ prod.Name }}
                </div>
                <div class="flex space-x-3 items-center">
                  <div class="text-green-500 mobileCard_text font-semibold">
                    ${{ prod.CurrentPrice }}
                  </div>
                  <div
                    *ngIf="prod.OriginalPrice != ''"
                    class="mobileCard_text line-through text-gray-600"
                  >
                    {{ prod.OriginalPrice }}
                  </div>
                  <div
                    (click)="addcId(prod.CatalogItemId)"
                    class="text-white mobileCard_button bg-blue-900 w-fit px-1 py-0.5 rounded-md hover:bg-blue-950 cursor-pointer"
                  >
                    View
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="hidden lg:inline-block" >
    <button
    *ngIf="furnitureProducts!==undefined && currentIndex!== furnitureProducts.length / 2"
      (click)="slideCarousel(1)"
      class="border-1 border-gray-400 bg-white p-2 rounded-full absolute z-1"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5"
        />
      </svg>
    </button>
  </div>
</div>
