.carousel-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Added transitions */
  transform: scale(1);
  /* Initial scale */
}

.carousel-card:hover {
  transform: scale(1.05);
  /* Scale up on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Box shadow on hover */
}

.carousel-track {
  display: flex;
  /* transition: transform 0.5s ease-in-out; */
}

/* .card {
  width: 20vw;
} */

.mobileCard {
  width: 62vw;
}

.mobileCard_text {
  font-size: 8px;
}

.mobileCard_button {
  font-size: 5px;
}

.card {
  width: 16vw;
}
