<div class="lg:max-w-screen-2xl lg:mx-auto lg:my-3">
    <div class="flex md:justify-evenly">
        <div class="max-w-[100%] md:max-w-[76%] md:min-w-[76%] lg:max-w-[58%] lg:min-w-[58%] xl:max-w-[68%] xl:min-w-[68%]">
            <!-- Best Products large screen Carousel -->
            <div class="max-w-[100%] md:max-w-[100%] lg:max-w-[100%] flex-wrap md:min-w-[100%] lg:min-w-[100%] overflow-hidden">
                <app-best-products></app-best-products>
            </div>
            <!-- small screen best products-->

            <p class="text-xs md:text-lg lg:text-xl m-[1.25vw] font-semibold">
                Exclusive Deals On Furnitures
            </p>
            <!--Scroll -->
            <div class="lg:hidden">
                <div class="flex overflow-auto">
                    <div *ngFor="let prod of furnitureProducts" class="">
                        <!-- small screen -->
                        <div class="md:hidden">
                            <div class="border border-gray mobileCardScroll m-2 shadow-md rounded-md">
                                <div class="m-3 space-y-2">
                                    <div class="flex items-center justify-center">
                                        <img src="{{ prod.ImageUrl }}" alt="" class="rounded-lg w-[60%] h-[60%]" />
                                    </div>
                                    <div class="mobileCard_text text-gray-500 mt-0">
                                        {{ prod.CampaignName.split(" ")[0] }}
                                    </div>
                                    <div class="line-clamp-2 mobileCard_text font-semibold">
                                        {{ prod.Name }}
                                    </div>
                                    <div class="flex flex-wrap justify-between items-center">
                                        <div class="flex items-center space-x-2">
                                            <div class="text-green-500 mobileCard_text font-semibold">
                                                ${{ prod.CurrentPrice }}
                                            </div>

                                            <div *ngIf="prod.OriginalPrice != ''" class="mobileCard_text line-through text-gray-600">
                                                ${{ prod.OriginalPrice }}
                                            </div>
                                        </div>
                                        <div (click)="addcId(prod.CatalogItemId)" class="text-white mobileCard_button bg-blue-900 w-fit rounded-sm px-1 py-0.5 hover:bg-blue-950 cursor-pointer">
                                            View
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--medium screen-->
                        <div class="hidden md:inline-block large:hidden">
                            <div class="border border-gray md:mx-3 md:my-1 lg:mx-5 lg:my-2 mediumCard shadow-md rounded-md">
                                <div class="m-3 space-y-2">
                                    <div class="flex items-center justify-center">
                                        <img src="{{ prod.ImageUrl }}" alt="" class="rounded-lg w-35 h-40" />
                                    </div>
                                    <div class="text-xs text-gray-500 mt-0">
                                        {{ prod.CampaignName.split(" ")[0] }}
                                    </div>
                                    <div class="line-clamp-2 text-sm font-semibold">
                                        {{ prod.Name }}
                                    </div>
                                    <div class="flex flex-wrap justify-between items-center">
                                        <div class="flex items-center space-x-2">
                                            <div class="text-green-500 text-xs lg:text-sm font-semibold">
                                                ${{ prod.CurrentPrice }}
                                            </div>

                                            <div *ngIf="prod.OriginalPrice != ''" class="text-xs lg:text-sm line-through text-gray-600">
                                                ${{ prod.OriginalPrice }}
                                            </div>
                                        </div>
                                        <div (click)="addcId(prod.CatalogItemId)" class="text-white text-xs bg-blue-900 px-2 py-1 rounded-sm hover:bg-blue-950 cursor-pointer">
                                            View deals
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--large screen-->
                        <div class="hidden lg:inline-block">
                            <div class="border border-gray md:mx-3 md:my-1 lg:mx-5 lg:my-2 largeCard shadow-md rounded-md">
                                <div class="m-3 space-y-2">
                                    <div class="flex items-center justify-center">
                                        <img src="{{ prod.ImageUrl }}" alt="" class="rounded-lg w-35 h-40" />
                                    </div>
                                    <div class="text-xs text-gray-500 mt-0">
                                        {{ prod.CampaignName.split(" ")[0] }}
                                    </div>
                                    <div class="line-clamp-2 text-sm font-semibold">
                                        {{ prod.Name }}
                                    </div>
                                    <div class="flex flex-wrap justify-between items-center">
                                        <div class="flex items-center space-x-2">
                                            <div class="text-green-500 text-xs lg:text-sm font-semibold">
                                                ${{ prod.CurrentPrice }}
                                            </div>

                                            <div *ngIf="prod.OriginalPrice != ''" class="text-xs lg:text-sm line-through text-gray-600">
                                                ${{ prod.OriginalPrice }}
                                            </div>
                                        </div>
                                        <div (click)="addcId(prod.CatalogItemId)" class="text-white text-xs bg-blue-900 px-2 py-1 rounded-sm hover:bg-blue-950 cursor-pointer">
                                            View deals
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--large screen carousel -->
            <div class="md:hidden hidden lg:inline-block md:max-w-[70%] lg:max-w-[100%] flex-wrap md:min-w-[70%] lg:min-w-[100%] overflow-hidden">
                <app-category-discounts></app-category-discounts>
            </div>

            <p class="text-xs md:inline-block md:text-lg lg:text-xl font-semibold m-[1.25vw]">
                Exclusive Deals
            </p>
            <!-- <div class="flex"> -->
            <div class="md:flex flex-wrap max-w-full">
                <div *ngFor="let prod of products">
                    <!-- small Cards-->
                    <div class="md:hidden">
                        <div class="border border-gray my-1 mx-1 mobileCard shadow-sm rounded-md">
                            <div class="flex items-center">
                                <div class="p-0.5">
                                    <img src="{{ prod.ImageUrl }}" alt="" class="w-24 h-24 rounded-md" />
                                </div>

                                <div class="p-0.5 flex-1">
                                    <div class="mobileCard_text text-gray-500">
                                        {{ prod.CampaignName.split(" ")[0] }}
                                    </div>
                                    <div class="line-clamp-2 mobileCard_text font-semibold">
                                        {{ prod.Name }}
                                    </div>
                                    <div class="flex space-x-3 items-center">
                                        <div class="text-green-500 mobileCard_text font-semibold">
                                            ${{ prod.CurrentPrice }}
                                        </div>
                                        <div *ngIf="prod.OriginalPrice != ''" class="mobileCard_text line-through text-gray-600">
                                            {{ prod.OriginalPrice }}
                                        </div>
                                        <div (click)="addcId(prod.CatalogItemId)" class="text-white mobileCard_button bg-blue-900 w-fit rounded-sm px-1 py-0.5 hover:bg-blue-950 cursor-pointer">
                                            View
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Medium Cards-->
                    <div class="hidden md:inline-block lg:hidden flex">
                        <div class="border border-gray md:mx-3 md:my-1 lg:mx-4 lg:my-2 mediumCard shadow-md rounded-md">
                            <div class="m-3 space-y-2">
                                <div class="flex items-center justify-center">
                                    <img src="{{ prod.ImageUrl }}" alt="" class="rounded-lg w-35 h-40" />
                                </div>
                                <div class="text-xs text-gray-500 mt-0">
                                    {{ prod.CampaignName.split(" ")[0] }}
                                </div>
                                <div class="line-clamp-2 text-sm font-semibold">
                                    {{ prod.Name }}
                                </div>
                                <div class="flex flex-wrap justify-between items-center">
                                    <div class="flex items-center space-x-2">
                                        <div class="text-green-500 text-xs lg:text-sm font-semibold">
                                            ${{ prod.CurrentPrice }}
                                        </div>

                                        <div *ngIf="prod.OriginalPrice != ''" class="text-xs lg:text-sm line-through text-gray-600">
                                            ${{ prod.OriginalPrice }}
                                        </div>
                                    </div>
                                    <div (click)="addcId(prod.CatalogItemId)" class="text-white text-xs bg-blue-900 px-2 py-1 rounded-sm hover:bg-blue-950 cursor-pointer">
                                        View deals
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Large Cards-->
                    <div class="hidden lg:inline-block flex">
                        <div class="border border-gray md:mx-3 md:my-1 lg:mx-4 lg:my-2 largeCard shadow-md rounded-md">
                            <div class="m-3 space-y-2">
                                <div class="flex items-center justify-center">
                                    <img src="{{ prod.ImageUrl }}" alt="" class="rounded-lg w-35 h-40" />
                                </div>
                                <div class="text-xs text-gray-500 mt-0">
                                    {{ prod.CampaignName.split(" ")[0] }}
                                </div>
                                <div class="line-clamp-2 text-sm font-semibold">
                                    {{ prod.Name }}
                                </div>
                                <div class="flex flex-wrap justify-between items-center">
                                    <div class="flex items-center space-x-2">
                                        <div class="text-green-500 text-xs lg:text-sm font-semibold">
                                            ${{ prod.CurrentPrice }}
                                        </div>

                                        <div *ngIf="prod.OriginalPrice != ''" class="text-xs lg:text-sm line-through text-gray-600">
                                            ${{ prod.OriginalPrice }}
                                        </div>
                                    </div>
                                    <div (click)="addcId(prod.CatalogItemId)" class="text-white text-xs bg-blue-900 px-2 py-1 rounded-sm hover:bg-blue-950 cursor-pointer">
                                        View deals
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Advertisement -->
        <div class="hidden md:inline-block xs:my-2 md:my-6 lg:my-14">
            <div class="flex-col space-y-20">
                <img src="../../../assets/image15-2.png" class="lg:w-full" alt="" />
                <img src="../../../assets/image15-2.png" class="lg:w-full" alt="" />
                <img src="../../../assets/image15-2.png" class="lg:w-full" alt="" />
                <img src="../../../assets/image15-2.png" class="lg:w-full" alt="" />
            </div>
        </div>
    </div>
</div>