<div class="flex justify-between items-center bg_color navbar">
  <div class="">
    <a routerLink="/home"><img src="../../../assets/Screenshot (53).png" alt=""
        class="w-8 h-8 md:w-12 md:h-12 rounded-full text-blue-900" />
    </a>
  </div>

  <div>
    <form onsubmit="" class="flex items-center">
      <div class="bg-white navbar_search px-1 py-0.5 md:px-2 md:py-1">
        <div class="flex justify-between items-center">
          <input type="text" [(ngModel)]="searchKey" #search id="search" name="search"
            placeholder="What can we help you buy today"
            class="navbar_search_input px-1 placeholder:font-semibold outline-none placeholder:text-gray-600" />
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-gray-600">
            <path fill-rule="evenodd"
              d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
              clip-rule="evenodd" />
          </svg>
        </div>

        <div clickOutside [myValue]="isPresent" (clickOutside)="clickedOut()">
          <div
            class="navbar_search_dropdown z-1 scroll overflow-auto h-auto max-h-52 absolute border border-gray-100 bg-white mt-1"
            *ngIf="isPresent">
            <div *ngFor="let item of suggests" class="hover:text-black hover:font-semibold ml-1 mt-1">
              <a (click)="addcId(item.CatalogItemId)" class="no-underline text-gray-600 cursor-pointer">
                <p class="truncate">{{ item.Name }}</p>
              </a>
            </div>
            <div *ngFor="let item of wayfairSuggests" class="hover:text-black hover:font-semibold ml-1 mt-1">
              <a class="no-underline text-gray-600 cursor-pointer">
                <p class="truncate">{{ item.title }}</p>
              </a>
            </div>
          </div>
        </div>
        <button type="submit" (click)="addSearchKey(searchKey)" hidden>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-gray-600">
            <path fill-rule="evenodd"
              d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </form>
  </div>

  <div class="hidden md:inline-block">
    <div class="flex text-white md:space-x-8 lg:space-x-10 font-semibold md:text-lg lg:text-xl">
      <div class="flex items-center space-x-2 hover:text-gray-300 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="lg:w-6 lg:h-6 md:w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
        </svg>
        <div>Deals</div>
      </div>
      <div class="flex items-center space-x-2 hover:text-gray-300 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="lg:w-6 lg:h-6 md:w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>

        <div>MENU</div>
      </div>
      <div *ngIf="user===undefined" class="flex items-center space-x-2 hover:text-gray-300 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
          class="lg:w-6 lg:h-6 md:w-4 h-4">
          <path fill-rule="evenodd"
            d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
            clip-rule="evenodd" />
        </svg>
        <div>Account</div>
        <app-modal *ngIf="modal.isOpen" (click)="modal.closeModal()"></app-modal>
      </div>
      <!-- Logged in User -->
      <div class="hidden md:inline-block" clickOutside [myValue]="logoutOption" (clickOutside)="dontShowOptions()">
        <div *ngIf="user!=null" class="flex items-center space-x-2 hover:text-gray-300 cursor-pointer"
          (clickOutside)="modal.closeModal()" (click)="showLogout()">
          <img src="{{user.photoUrl}}" class="lg:w-6 lg:h-6 md:w-4 h-4 rounded-full" alt="">
          <div><button id="dropdown">{{user.name}}</button>
          </div>
          <app-modal *ngIf="modal.isOpen" (click)="modal.closeModal()"></app-modal>
        </div>
        <div *ngIf="logoutOption == true"
          class="mx-2 border bg-white text-black border-gray-500 absolute z-1 mt-2 text-sm w-[10%] rounded-lg shadow-md">
          <div class="px-3 py-2 hover:bg-blue-200 hover:font-semibold rounded-lg cursor-pointer">
            My Profile
          </div>
          <div (click)="logOutClick()"
            class="font-semibold text-blue-500 px-3 py-2 hover:bg-blue-200 hover:font-semibold rounded-lg cursor-pointer">
            Log Out
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="md:hidden" clickOutside [myValue]="optionsMenu" (clickOutside)="dontShowOptions()">
    <div class="flex font-semibold text-sm text-white items-center space-x-2 hover:text-gray-300 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="lg:w-6 lg:h-6 md:w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <div (click)="showOptions()">OPTIONS</div>
    </div>
    <div *ngIf="optionsMenu == true" class="mx-2 border bg-white border-gray-500 absolute z-1 mt-2 text-sm">
      <div class="border-b border-gray-300 px-2 py-1 hover:bg-gray-300 hover:font-semibold">
        Deals
      </div>
      <div class="border-b border-gray-300 px-2 py-1 hover:bg-gray-300 hover:font-semibold">
        Menu
      </div>
      <div  *ngIf="user===null"
        class="border-b border-gray-300 px-2 py-1 hover:bg-gray-300 hover:font-semibold">
        Account
      </div>
      <app-modal *ngIf="modal.isOpen" (click)="modal.closeModal()"></app-modal>

      <div class="md:hidden">
        <div *ngIf="user!=null" (click)="showLogout()"
          class="flex items-center text-xs border-b border-gray-300 px-2 py-1 hover:bg-gray-300 hover:font-semibold">
          <img src="{{user.photoUrl}}" class="lg:w-6 lg:h-6 md:w-4 h-4 rounded-full" alt="">
          <div><button id="dropdown">{{user.name}}</button>
          </div>
        </div>
        <div *ngIf="logoutOption == true"
          class="mx-2 border bg-white text-black border-gray-500 absolute z-1 mt-2 text-sm w-[10%] rounded-lg shadow-md">
          <div class="px-3 py-2 hover:bg-blue-200 hover:font-semibold rounded-lg cursor-pointer">
            My Profile
          </div>
          <div (click)="logOutClick()"
            class="font-semibold text-blue-500 px-3 py-2 hover:bg-blue-200 hover:font-semibold rounded-lg cursor-pointer">
            Log Out
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="mt-0.5 bg_color md:px-5 md:py-2 md:mx-auto shadow-md text-white">
  <div class="flex justify-between mx-3 md:mx-14 text-lg font-semibold lg:w-[60%]">
    <div class="hover:text-gray-300 cursor-pointer text-xs md:text-base">
      Top Deals
    </div>
    <div class="hover:text-gray-300 cursor-pointer text-xs md:text-base">
      Electronics
    </div>
    <div class="hover:text-gray-300 cursor-pointer text-xs md:text-base">
      Travel & Vacation
    </div>
    <div class="hover:text-gray-300 cursor-pointer text-xs md:text-base">
      Automobile
    </div>
    <div class="hover:text-gray-300 cursor-pointer text-xs md:text-base">
      More
    </div>
  </div>
</div>